/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: Garamond; src: url("fonts/garamond.eot"); src: url("fonts/garamond.eot?#iefix") format("embedded-opentype"), url("fonts/garamond.woff") format("woff"), url("fonts/garamond.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { min-width: 1000px; font-family: "Prata", Arial, serif; font-size: 14px; line-height: 1.4; }

a { text-decoration: none; }

.main { position: relative; height: 100vh; min-height: 600px; background: url(../img/main.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.main__in { width: 940px; margin: 0 auto; }

.main__center { display: table-cell; width: 940px; height: 100vh; padding-top: 200px; vertical-align: middle; text-align: center; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.main__welcome { font-family: "Roboto", Arial, sans-serif; font-size: 30px; font-weight: 400; text-transform: uppercase; }

.main__title { font-size: 72px; font-style: italic; }

.main__title-sub { margin-bottom: 30px; font-size: 16px; }

.main__membership a { display: inline-block; width: 152px; height: 34px; border: 3px solid #d7b56d; line-height: 34px; vertical-align: top; font-style: italic; color: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.main__membership a:hover { background: #d7b56d; color: black; }

.header { position: fixed; top: 0; left: 0; right: 0; z-index: 100; }

.header__top { position: relative; height: 100px; background: black; background: rgba(0, 0, 0, 0.58); -webkit-transition: height 0.2s linear; -moz-transition: height 0.2s linear; -o-transition: height 0.2s linear; transition: height 0.2s linear; overflow: hidden; }

.logo { position: absolute; top: 17px; left: 50%; margin-left: -130px; visibility: visible; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; background: url('../img/icons-s6257e5f103.png') 0 0 no-repeat; width: 260px; height: 66px; }

.header__links { width: 940px; padding-top: 55px; margin: 0 auto; text-align: center; -webkit-transition: padding-top 0.2s linear; -moz-transition: padding-top 0.2s linear; -o-transition: padding-top 0.2s linear; transition: padding-top 0.2s linear; *zoom: 1; }
.header__links:after { content: " "; display: table; clear: both; }
.header__links li { float: left; margin-left: 30px; }
.header__links li:first-child { margin: 0; }
.header__links li.is-right { float: right; }
.header__links li.is-center { float: none; display: inline-block; vertical-align: top; visibility: hidden; opacity: 0; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
.header__links a { border-bottom: 1px dotted transparent; font-family: "Roboto", Arial, sans-serif; font-size: 14px; font-weight: 300; color: white; -webkit-transition: border-color 0.2s linear; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.header__links a:hover { border-color: white; }

.header__down { background: white; }

.header__down-in { width: 940px; padding: 12px 0; margin: 0 auto; *zoom: 1; }
.header__down-in:after { content: " "; display: table; clear: both; }

.nav { float: left; }
.nav ul, .nav li { float: left; }
.nav li { margin-left: 30px; }
.nav li:first-child { margin: 0; }
.nav a { color: black; border-bottom: 1px dotted transparent; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav a:hover { border-bottom: 1px dotted #d7b56d; color: #8b8b8b; }
.nav a.is-active { border-bottom: 1px dotted #d7b56d; color: #8b8b8b; }

.lang { float: right; }
.lang li { float: left; }
.lang li:first-child { margin: 0; }
.lang li.is-active a { color: #9a9a9a; }
.lang a { font-size: 12px; color: black; }
.lang a:hover { border-bottom: 1px dotted #d7b56d; color: #8b8b8b; }
.lang a.is-active { border-bottom: 1px dotted #d7b56d; color: #8b8b8b; }
.lang span { margin: 0 5px; }

.pager { position: fixed; top: 175px; right: 30px; z-index: 100; }
.pager li { margin-bottom: 8px; }
.pager a { display: block; width: 10px; height: 10px; border: 3px solid white; border-radius: 50%; -webkit-transition: border-color 0.2s linear; -moz-transition: border-color 0.2s linear; -o-transition: border-color 0.2s linear; transition: border-color 0.2s linear; }
.pager a:hover { border-color: #d7b56d; }
.pager a.is-active { border-color: #8b8b8b; }

.page { position: relative; height: 100vh; color: white; -webkit-perspective: 1000px; -moz-perspective: 1000px; -ms-perspective: 1000px; -o-perspective: 1000px; perspective: 1000px; }

.page__bg { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; z-index: 2; }

.page__nav { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 120px; padding: 170px 40px 40px; background: #6e939c; background: rgba(110, 147, 156, 0.9); z-index: 4; }
.page__nav li { margin-top: 20px; }
.page__nav li:first-child { margin: 0; }
.page__nav a { color: white; -webkit-transition: color 0.2s linear; -moz-transition: color 0.2s linear; -o-transition: color 0.2s linear; transition: color 0.2s linear; }
.page__nav a:hover { color: #b6ecff; }

.page__content { position: absolute; top: 0; left: 200px; bottom: 0; width: 340px; padding: 180px 25px 25px; background: #92c3cf; background: rgba(146, 195, 207, 0.9); z-index: 4; }

.page__content_right { width: 50%; left: 50%; right: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 0; }
.page__content_right:before { content: ""; display: inline-block; width: 0; height: 100%; vertical-align: middle; }
.page__content_right .page__content-in { display: inline-block; padding: 0 30px 0 60px; vertical-align: middle; font-size: 14px; }

.content { line-height: 1.6; }

.title { position: relative; padding: 25px 0; font-size: 50px; }
.title:before { content: ""; position: absolute; top: 0; left: 0; width: 20px; height: 1px; background: white; }

.text { position: relative; background: #e9e6d6; overflow: hidden; }
.text:before { content: ""; position: absolute; top: 50%; left: 50%; width: 800px; height: 800px; margin: -400px 0 0 -400px; background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-radial-gradient(50% 50%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); background-image: -moz-radial-gradient(50% 50%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); background-image: -o-radial-gradient(50% 50%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); background-image: radial-gradient(50% 50%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)); }

.text__in { position: relative; width: 560px; margin: 0 auto; padding: 45px 0; text-align: center; color: #7a6c46; z-index: 2; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
